body, html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    font-size: large;
}

.title
{
    font-weight: bold;
}

.footer
{
    font-size: larger;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3em;
    background-color: #f5f5f5;
}

h1
{
    color: black;
}



canvas
{
    position: absolute;
    left: 0;
    top: 200px;
    border: 0;
    display: block;
    margin: 0 auto;
}

.layer1
{
    z-index: 1;
}

.layer2
{
    z-index: 2;
}

.layer3
{
    z-index: 3;
}

.layer4
{
    z-index: 4;
}

button
{
    z-index: 100;
}

svg
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
}

    svg#svgGrid
    {
        width: 100%;
        height: 100%;
        stroke-width: 1;
    }

        svg#svgGrid g .hexColor
        {
            fill: #fff;
        }

        svg#svgGrid g:hover .selectable
        {
            fill: #0094ff;
        }

        svg#svgGrid g:hover .nonselectable
        {
            fill: #ff00dc;
        }

        svg#svgGrid .hex
        {
            stroke: black;
            fill: none;
        }

        svg#svgGrid .selectable
        {
            stroke: blue;
            fill: lightblue;
            stroke-width: 2;
        }

        svg#svgGrid .lasers
        {
            stroke: orange;
            fill: red;
            stroke-width: 4;
        }
